# MacOS Stuff
*.DS_Store

# Cortex Binary
cortex-vm

# compiled objects in headers
# codemirror stuff
cm_*
# favicon
favicon_*
# ui html
ui_*

# benchmarking results
results/

# build directories
lib/
build/

# any testing assembly files
/*.s

# any saved outputs from debug
output*

# Compiled Cortex-VM binaries
*.cxv
*.out

# Python venv for testing
env/
.pytest_cache
__pycache__

# Swap
*.swp

.idea/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
